body {
    background-color:lightslategray;
    font-family: Arial, Helvetica, sans-serif;
}

.defaultView, .chartView, header {
    background-color: lightgray;
    padding: 16px;
    margin: 5px;
}

header { background-color: lightblue; }

.container {
    display: grid;
    grid-template-rows: repeat(6, 120px);
    grid-template-columns: repeat(6, 1fr);
}

.noPadding { padding: 0; }
.noMargin { margin: 0; }

.defaultView { display: block; } /*dynamically switches to none when chart view is selected*/
.chartView { display: none; } /*dynamically switches to block when chart view is selected*/
#stockDataLoadingAnimation { display: none; } /*dynamically change to block while fetching data from stockDataAPI*/

/*Default view layout*/
#companyListPanel {
    grid-column: span 1;
    grid-row: span 6;
}

#companyInfoPanel {
    grid-row: span 3;
    grid-column: span 2;
}

#stockDataPanel {
    grid-row: span 5;
    grid-column: span 3;
}

#mapPanel {
    grid-row: span 3;
    grid-column: span 2;
}

#stockSummary {
    grid-column: span 3;
}

/*Chart view layout*/
#charts {
    grid-row: span 6;
    grid-column: span 4;
}

#companyChartInfo {
    grid-row: span 2;
    grid-column: span 2;
}

#financials {
    grid-row: span 4;
    grid-column: span 2;
}

button {
    background-color: lightblue;
    border-radius: 8px;
    padding: 10px;
}

.changeViewButton {
    width: 160px;
    font-size: 24px;
}

#stockDataHead, #chartInfoHead {
    display: flex;
    justify-content: space-between;
}

#stockDataHead { padding: 10px 20px; }

#chartInfoBody {
    position: relative;
}

#companyChartInfoDescription {
    float: left;
    max-width: 90%;
}

#speaker {
    position: absolute;
    right: 0;
    width: 50px;
}

#speaker:hover {
    cursor: pointer;
}

#companyListHead {
    text-align: center;
    height: 20%;
}

#companySearch { padding: 5px 8px; }

#clearButton {
    margin-top: 10px;
    font-size: 16px;
    width: 75px;
    height: 30px;
}

#companyListContainer {
    height: 77%;
    overflow-y: scroll;
}

li {
    border: 1px solid #ddd;
    background-color: #c0c0c0;
    padding: 5px;
}
li:hover { cursor: pointer; }

#viewChartsButton, #closeButton { align-self: center; }

#stockDataTable {
    width: 100%;
    table-layout: fixed;
}

#stockSummaryTable {
    width: 98.5%;
    height: 100%;
    table-layout: fixed;
}

#stockDataTableContainer {
    overflow-y: scroll;
    height: 83%;
}

.tableHead { font-weight: bold; }
.tableHead:hover { cursor: pointer; }

.defaultView td {
    text-align: center;
    border: 1px solid black;
    padding: 5px;
}

.fadeIn { animation: fadeIn 0.75s linear forwards; }

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*Loading animation source: https://loading.io/css/*/
.lds-ring {
    display: block;
    margin: auto;
    width: 80px;
    height: 80px;
  }
  
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }