body {
    margin: 0;
    background-color:lightslategray;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    background-color: lightgray;
    padding: 1em;
    margin: 5px;

}

header {
    background-color: lightblue;
    padding: 15px;
    margin: 0;
}

.container {
    display: grid;
    grid-template-rows: repeat(6, 120px);
    grid-template-columns: repeat(6, 1fr);
}

.defaultView {
    display: block; /*dynamically switches to none when chart view is selected*/
}

.chartView {
    display: none; /*dynamically switches to block when chart view is selected*/
}

/*Default view layout*/
#companyList {
    grid-column: span 1;
    grid-row: span 6;
}

#companyInfo {
    grid-row: span 3;
    grid-column: span 2;
}

#stockData {
    grid-row: span 6;
    grid-column: span 3;
}

#map {
    grid-row: span 3;
    grid-column: span 2;
    border: 1px solid black;
}

/*Chart view layout*/
#charts {
    grid-row: span 6;
    grid-column: span 4;
}

#companyChartInfo {
    grid-row: span 2;
    grid-column: span 2;
}

#financials {
    grid-row: span 4;
    grid-column: span 2;
}

button {
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    font-size: 24px;
}

#stockDataHead, #chartInfoHead {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

#stockData h1 {
    display: inline;
    margin-right: 50px;
}

#viewChartsButton {
    align-self: center;
}

#closeButton {
    align-self: center;
}

#stockDataTable {
    width: 100%;
}

thead td {
    font-weight: bold;
    
}

td {
    text-align: center;
}

.fadeIn {
	animation: fadeIn 0.75s linear forwards;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
