body {
    background-color:#bfbfbf;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
}

.defaultView, .chartView, header {
    background-color: #cccccc;
    box-shadow: 10px 10px 10px grey;
    border: 2px solid black;
    border-radius: 15px;
    padding: 16px;
    margin: 5px;
}

.bold { font-weight: bold; }
.noPadding { padding: 0; }
.noMargin { margin: 0; }

header { background-color: lightblue; }
header h1 { display: inline-block; }

.assignmentInfo { display: none; }

.container {
    display: grid;
    grid-template-rows: repeat(6, 120px);
    grid-template-columns: repeat(6, 1fr);
}

.defaultView { display: block; } /*dynamically switches to none when chart view is selected*/
.chartView { display: none; } /*dynamically switches to block when chart view is selected*/
#stockDataLoadingAnimation { display: none; } /*dynamically change to block while fetching data from stockDataAPI*/

/*Default view layout*/
#companyListPanel {
    grid-column: span 1;
    grid-row: span 6;
}

#companyInfoPanel {
    grid-row: span 3;
    grid-column: span 2;
}

#stockDataPanel {
    grid-row: span 5;
    grid-column: span 3;
}

#mapPanel {
    grid-row: span 3;
    grid-column: span 2;
}

#stockSummary {
    grid-column: span 3;
}

/*Chart view layout*/
#charts {
    grid-row: span 6;
    grid-column: span 4;
    text-align: center;
}

#companyChartInfo {
    grid-row: span 2;
    grid-column: span 2;
}

#financials {
    grid-row: span 4;
    grid-column: span 2;
}

button {
    background-color: lightblue;
    border-radius: 8px;
    padding: 10px;
}

.changeViewButton {
    width: 160px;
    font-size: 24px;
}

#companyInfoPanelHeader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#companyInfoPanelBody {
    display: none;
    justify-content: space-between;
}

#companyLocation, #companyURL { margin-right: 20px; }

#companyLogo {
    width: 25%;
    height: 25%;
}

#stockDataHead, #chartInfoHead {
    display: flex;
    justify-content: space-between;
}

#stockDataHead { padding: 10px 20px; }

#companyChartInfoDescription {
    float: left;
    max-width: 90%;
}

#speaker {
    float: right;
    width: 50px;
}

#speaker:hover { cursor: pointer; }

#companyListHead {
    text-align: center;
    height: 20%;
}

#companySearch { padding: 5px 8px; }

#clearButton {
    margin-top: 10px;
    font-size: 16px;
    width: 75px;
    height: 30px;
}

#companyListContainer {
    height: 77%;
    overflow-y: scroll;
}

li {
    border: 1px solid #ddd;
    background-color: #c0c0c0;
    padding: 5px;
}
li:hover { cursor: pointer; }

#viewChartsButton, #closeButton { align-self: center; }
.fixedTable { table-layout: fixed; }

#stockDataTable {
    width: 100%;
}

#stockSummaryTable {
    width: 98.5%;
    height: 100%;
}

#stockDataTableContainer {
    overflow-y: scroll;
    height: 83%;
}

.tableHead { font-weight: bold; }
#stockDataTable .tableHead:hover { cursor: pointer; }

/*table styling adopted & modified from table found at https://www.w3schools.com/css/css_table.asp*/
table { border-collapse: collapse; }
tr { border-bottom: 1px solid black; }
tr:nth-child(even) { background-color: lightgray; }
th { 
    background-color: lightblue;
    border-top: 1px solid black;
}

.defaultView td, .chartView td, th {
    text-align: center;
    padding: 5px;
}

#stockDataTable td, #stockDataTable th {
    padding-top: 10px;
    padding-bottom: 10px;
}

#financialsTable {
    width: 100%;
    height: 75%;
}

/*fade-in animation adopted & modified from https://stackoverflow.com/questions/11679567/using-css-for-a-fade-in-effect-on-page-load*/
.fadeIn { animation: fadeIn 1.5s; }

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

#barChartContainer, #candlestickChartContainer {
    width: 550px;
    height: 300px;
    display: inline-block;
}
#barChartContainer { margin-right: 25px; }
#candlestickChartContainer { margin-left: 25px; }
#lineChartContainer {
    width: 1200px;
    height: 375px;
    display: inline-block;
}

/*loading animation adopted from https://loading.io/css/*/
.lds-ring {
    display: block;
    margin: auto;
    width: 80px;
    height: 80px;
  }
  
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }